* {
  margin: 0px;
}

nav {
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
}

nav .logo {
  width: 50%;
  height: auto;
  /* background-color: aqua; */
}

nav .link {
  width: 50%;
  height: auto;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav .logo img {
  width: 30%;
  height: auto;
}

nav .link li {
  list-style: none;
  color: white;
}

.div1 {
  width: 100%;
  height: 800px;
  /* background-color: brown; */
  background-image: url(./assets/burger.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div1 h1 {
  color: white;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.div1 #button1 {
  color: white;
  padding: 10px 20px;
  background-color: rgb(255, 86, 114);
  border: 2px solid rgb(255, 86, 114);
  border-radius: 9px; 
  margin-top: 30px;
}

.div1 h2 {
  color: white;
  margin: 20px;
}

#ios {
  margin: 0px 30px;
  height: 68px;
}

#and {
  margin: 0px 30px;
  height: 70px;
}

.div2 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div2 h1 {
  width: 100%;
  color: #424242;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  /* background-color: aquamarine; */
}

.div2 .features {
  margin: 40px;
  text-align: center;
  font-size: 20px;
}

.div3 {
  width: 100%;
  height: 700px;
  display: flex;
  background-image: url(./assets/2burger.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div3 h1 {
  color: white;
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.div4 {
  width: 100%;
  height: 700px;
  display: flex;
  background-image: url(./assets/bnnr.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div4 h1 {
  color: white;
  font-size: 80px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
}

.div4 #menu {
  padding: 15px;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 100px;
  border-radius: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
}

.footer {
  /* background-color: aquamarine; */
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer h1 {
  width: 100%;
  height: auto;
  font-size: 50px;
  text-align: center;
  margin: 20px;
  color: #424242;
}

.footer .details {
  width: 25%;
  height: 200px; 
}

h3 {
  text-align: left;
  font-size: 25px;
  color: #424242;
  margin: 20px;
}

.footer .details img {
  margin: 10px ;
}

.footer .details li {
  color:#424242;
  font-size: 20px;
}

a:link {
  color: rgb(255, 86, 114);
  text-decoration: none;
}

.footer .details p {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.footer .details input {
  width: 60%;
  height: 35px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 30px;
}

.footer .details .social {
  width: 20%;
  height: 40px;
  float: left;
  background-image: url(./assets/instagram.svg);
  background-size: 100% 40px;
  transition: 1s;
}
.social :hover {
  width: 10%;
  height: 30px;
  transform: rotate(30deg);
}

.footer .details .social1 {
  width: 20%;
  height: 40px;
  float: left;
  background-image: url(./assets/facebook.svg);
  background-size: 100% 40px;
}

.footer .details .social2 {
  width: 20%;
  height: 40px;
  float: left;
  background-image: url(./assets/linkedin.svg);
  background-size: 100% 40px;
}

.footer .details .social3 {
  width: 20%;
  height: 40px;
  float: left;
  background-image: url(./assets/youtube.svg);
  background-size: 100% 40px;
}